/* About section */

.about{

}

.about-content{
   overflow: hidden;
}

.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid var(--bordercolor);
    padding: 50px 20px;
}
.about-item:hover .about-item-title{
    color: var(--wihtecolor);
}
.about-item.mg{
    margin:0 5%;
}
.about-item .icon{
    color: var(--maincolor);
}
.about-item-title{
    text-transform: capitalize;
    transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.6;
    color: #898989;
}

.about-item-link{
    color: var(--maincolor);
    text-transform: capitalize;
}