/* number section */
.numbers{
    position: relative;
    background-image: url(../images/background/background2.webp);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

.numbers-items{
    overflow: hidden;
    padding: 100px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: var(--maincolor);
    margin-bottom: 15px;
}
.number-item-title{
    font-weight: bold;
    font-size: 25px;
    color: var(--wihtecolor);
}
.number-itme-text{
    color: var(--wihtecolor);
}
.pricing{

}
.pricing-palns{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float:left;
    padding: 40px 15px;
    border: 1px solid var(--bg-gray);
    text-align: center;
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    font-size: 17px;
    color: var(--graycolor);
    transform: color 0.5s;
}
.pricing-item-permonth{
    width:100px;
    height: 100px;
    padding: 20 0;    
    margin: 20px auto ;
    border: 3px solid var(--maincolor);
    border-radius: 50%;
    transition:color 0.5s ;
}
.pricing-item-permonth .doller{
    font-size: 33px;
}
.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.pricing-list{
    list-style: none;
}
.pricing-list li{
    color: var(--graycolor);
    line-height: 1.8;
}
.pricing-item button{
    background: none;
    border: 0;
    display: block;
    width: 140px;
    border: 2px solid #7ba7ff;
    padding: 10px;
    margin: 15px auto 0 auto;
    color: var(--maincolor);
    
}
.pricing-item:hover .pricing-item-permonth{
    color: var(--wihtecolor);
}
.pricing-item:hover .pricing-item-text{
    color: var(--maincolor);
}